body {
  font-family: 'Open Sans', sans-serif;
  color: #ccc;
  text-shadow: 1px 1px black;
  background-image:url('../bg.png');
}

strong {
  font-family: 'Roboto';
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.container {
  margin: auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
  background-color: #2D2D2D;
}

th {
  text-align: left;
}

a {
  color: #679ED2;
  text-decoration: none;
}

h1 {
  color: #fff;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
  font-size: 3.6em;
  letter-spacing: -4px;
  text-shadow: 1px 1px black;
}

#logo {
  float:left;
  font-size: 1.8em;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 700;
  padding-left: 20px;
}

#links {
  float:right;
  font-style: italic;
  padding-right: 20px;
  font-size: 1.2em;
}

.categories {
  margin-top: -20px;
}

nav {
  float: right;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 642px;
  padding: 10px 0px;
  width: 100%;
  line-height: 100%;
}

nav a {
  color: white;
}

nav li {
  display: inline;
  padding: 8px;
}

li {
  list-style: none;
}

.numbered {
  list-style: decimal;
  line-height: 1.6em;
}
