<div class="container">
  <h1>Thanks for your post!</h1>
  <p>Your Secret URL: <a href="<%= url('/edit/' + @secret_url) %>"><%= url('/edit/' + @secret_url) %></a><BR>
    Enter that URL to change or delete your post!</p>
</div>

