<div class="container">
  <h1>Create post</h1>
  <form action="/created" method="post" name="create-post-form">
    <% categories.each do |category| %>
      <li><input type="radio" name="category_id" value="<%= category.id %>"> <%= category.name %></li>
    <% end %>
    
    <li>Title: <input type="text" name="title"></li>
    <li>Description: <textarea rows="10", cols="50", name="description"></textarea></li>
    <li>Price: <input type="text" name="price"></li>
    <li>Email: <input type="text" name="email"></li>
    <li><input type="submit" value="Submit!"></li>
  </form>
</div>

