<div class="container">
  <h1>Thank you for creating a post!</h1>
  <p>Your Secret URL: <a href="<%= url('/edit/' + @secret_url) %>"><%= url('/edit/' + @secret_url) %></a>
    Enter that URL to change or delete your post!</p>
</div>

